@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --primary: #151515;
    font-size: 62.6%;
  }

  html.dark {
    --primary: whitesmoke;
    color: var(--primary);
    background-color: #151515;
  }

  .dark :is(h1, h2, h3, h4, button) {
    color: whitesmoke;
  }

  body {
    font-size: 1.6rem;
    color: var(--color-primary);
  }
}
