@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.6%;
  }

  html.dark {
    color: hsl(0, 0%, 96%);
    background-color: #151515;
  }

  body {
    font-size: 1.6rem;
    color: #151515;
  }
}
