@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.6%;
  }

  html.dark {
    color: whitesmoke;
    background-color: #151515;
  }

  dark h1,
  h2,
  h3,
  h4 {
    color: whitesmoke;
  }

  body {
    font-size: 1.6rem;
    color: #151515;
  }
}
